body{background-color: gray;display: flex;flex-direction: column; justify-content: center;align-items: center;background-image: url(fond.jpg);opacity: 0,8;}
h1{margin: auto;}
#main{display: flex;}
#bi{background-color: rgb(155, 20, 20); box-shadow: 5px 5px 5px rgb(0, 0, 0);margin-bottom:6px ;margin-right: 6px;}
#he{background-color: rgb(37, 65, 174);box-shadow: 5px 5px 5px rgb(0, 0, 1);margin-bottom:6px ;margin-right: 6px;}
@media screen and (max-width: 800px){
    #main{
        flex-direction: column;
        
        
    }
    
}